mixin button(options)
  if !options
    - options = {}
  case options.type
    when 'dropdown'
      button.button.dropdown-button(type = 'button' class = `${options.class || ''}`) #{options.buttonText}
      .dropdown-box
    when 'arrow-forward'
      button.button.arrow-forward-button(type = 'submit' class = `${options.class || ''}`)
    when 'like'
      button.button.like-button(type = 'button' class = `${options.liked ? 'like-button_liked' : ''}`)
        i.icon.like-button__icon.material-icons favorite
        span.like-button__likes-number #{options.likesNumber}
    when 'form-submit'
      button.button.button-form-submit(type = 'submit' class = `${options.class || ''}`) #{options.buttonText}
        i.button__icon.material-icons arrow_forward
    when 'gradient'
    when 'white'
    when 'text'
      -
        const classes = ['button', `button-${options.type}`];
        if (options.hovered) classes.push(`${classes[1]}_hovered`);
      button(type = 'button' class = classes) #{options.buttonText}
      
