mixin button(options)
  if !options
    - options = {}
  case options.type
    when 'dropdown'
      button.button.dropdown-button(type = 'button' class = `${options.class || ''}`) #{options.buttonText}
      .dropdown-box
    when 'arrow-forward'
      button.button.arrow-forward-button(type = 'submit' class = `${options.class || ''}`)
    when 'like'
      button.button.like-button(type = 'button' class = `${options.liked ? 'like-button_liked' : ''}`)
        i.icon.like-button__icon.material-icons favorite
        span.like-button__likes-number #{options.likesNumber}
    when 'gradient'
      button.button.gradient-button(type = 'button' class = `${options.class || ''}`) #{options.buttonText}
    when 'white'
      button.button.white-button(type = 'button' class = `${options.class || ''}`) #{options.buttonText}
    when 'text'
      button.button.text-button(type = 'button' class = `${options.class || ''}`) #{options.buttonText}
    when 'form-submit'
      button.button.form-submit-button(type = 'submit' class = `${options.class || ''}`) #{options.buttonText} 
