mixin input(options)
  if !options
    - options = {}
  - let {type, labelText, additionalText, hover, maskedInput, placeholder, value, name, isChecked, title, description} = options
  case type
    when 'email'
    when 'text'
    when 'date'
    when 'password'
    when 'dropdown'
    when 'subscription'
      label.label(class = `label_${type}`)
        if  labelText
          span.label__main-text #{labelText}
        if additionalText 
          span.label__additional-text #{additionalText}
        input(type=`${type === 'dropdown' ? 'text' : type}`
          class=`${type}-input ${hover ? `${type}-input_hovered`: ''} ${maskedInput ? 'js-masked-input' : ''}`
          placeholder=placeholder  || false 
          value=value || false 
          readonly= type === 'dropdown'
          name= name || false)
        if type === 'dropdown'
          i.material-icons.dropdown-icon expand_more 
        block
    when 'date-dropdown'
      .date-dropdown
        label.label 
          span.label__main-text #{labelText}
          input(type=`text` class=`date-dropdown-input` placeholder=placeholder  || false value=value || false readonly)
          i.material-icons.dropdown-icon expand_more 
        label.label 
          span.label__main-text #{labelText}
          input(type=`text` class=`date-dropdown-input` placeholder=placeholder2  || false value=value2 || false readonly)
          i.material-icons.dropdown-icon expand_more
      block
    when 'radio'
      - className =  className || 'radio__input_simple'
        .radio
          label(class='label radio__label')
            input(type=`${type}` 
              class=`${type}__input ${className || ''}` 
              value=value || false  
              name=`${name}` 
              checked=isChecked)
            span(class = 'label__text radio__text') #{labelText}
            block
    when 'checkbox'
    when 'rich-checkbox'
    when 'toggle'
      .checkbox
        label.label.checkbox__label
          input(type=`checkbox`
            class=`checkbox__input${type !== 'checkbox' ? `_${type}` : ''}` 
            checked=isChecked
            name=name)
          != labelText
          if type === 'rich-checkbox'
            span.checkbox__text
              span.checkbox__title!= title
              span.checkbox__description!= description
          block
    