mixin input(options)
  if !options
    - options = {}
  case options.type
    when 'email'
    when 'text'
    when 'date'
    when 'password'
    when 'dropdown'
      label.label 
        span.label__main-text #{options.labelText}
        if options.additionalText 
          span.label__additional-text #{options.additionalText}
        input(type=`${options.type === 'dropdown' ? 'text' : options.type}` class=`${options.type}-input ${options.hover ? `${options.type}-input_hovered`: ''} ${options.maskedInput ? 'js-masked-input' : ''}` placeholder=options.placeholder  || false value=options.value || false readonly= options.type === 'dropdown')
        if options.type === 'dropdown'
          i.material-icons.dropdown-icon expand_more 
      block
    when 'date-dropdown'
      .date-dropdown
        label.label 
          span.label__main-text #{options.labelText}
          input(type=`text` class=`date-dropdown-input` placeholder=options.placeholder  || false value=options.value || false readonly)
          i.material-icons.dropdown-icon expand_more 
        label.label 
          span.label__main-text #{options.labelText}
          input(type=`text` class=`date-dropdown-input` placeholder=options.placeholder2  || false value=options.value2 || false readonly)
          i.material-icons.dropdown-icon expand_more
      block
    when 'radio'
      - options.class =  options.class || 'radio__input_simple'
        .radio
          label(class='label radio__label')
            input(type=`${options.type}` class=`${options.type}__input ${options.class || ''}` value=options.value || false  name=`${options.name}` checked=options.isChecked)
            span(class = 'label__text radio__text') #{options.labelText}
            block
    when 'checkbox'
    when 'rich-checkbox'
    when 'toggle'
      .checkbox
        label.label.checkbox__label
          input(type=`checkbox` class=`checkbox__input${options.type !== 'checkbox' ? `_${options.type}` : ''}` checked=options.isChecked)
          = options.labelText
          if options.type === 'rich-checkbox'
            span.checkbox__text
              span.checkbox__title!= options.title
              span.checkbox__description!= options.description
          block
    