include ../../components/rate/rate

mixin room-card(options)
  -
    options = options || {}
    const {number, price, isLux, rateNumber, reviewsAmount} = options
    const fs = require('fs')
    const find = require('find')
    const filePath = find.dirSync('room-card', './src')
    const images = fs.readdirSync(filePath + '/img/' + number)
  .room
    .room__images.swiper-container
      .swiper-wrapper
        each image in images
          .swiper-slide
            img(src=require(`../../includes/room-card/img/${number}/${image}`), alt=`${alt || number}`)
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
    .room__text
      .room__info
        .room__number <span class="room__number_small" >№</span> #{number}
        if isLux
          .room__lux люкс
        .room__price #{price}₽ <span class="room__price_small">в сутки</span>
      hr.room__hr
      .room__rating
        .room__rate
          +rate({rateNumber: rateNumber, name: number})
        .room__reviews 
          |<span class="room__reviews-amount">#{reviewsAmount}</span> Отзывов
